# Compiled class file
*.class

#*.jar

# Log file
*.log
logs

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# build dirs
/bmd-base/build/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

.gradle


# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Reactjs
node_modules

prom